<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Product Cards</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <% products.forEach(product => { %>
        <div class="col-md-4">
          <div class="card mb-4" style="width: 15rem;">
            <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="card-img-top" alt="Nature Image">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <h6>COST: <%= product.cost %></h6>
              <p class="card-text"><%= product.description %></p>
              <a href="#" class="btn btn-warning d-flex align-items-center">
                <i class="bi bi-pencil-square mr-1"></i> Edit
              </a>
              <a href="#" class="btn btn-danger d-flex align-items-center">
                <i class="bi bi-trash mr-1"></i> Delete
              </a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>
