
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <title>Product Store</title>
  <style>
    .card-img-top {
      height: 180px;
      object-fit: cover;
    }
  </style>
  <script>
      async function deleteProduct(id) {
        try {
          const response = await fetch(`/product/${id}`, { method: 'DELETE' });
          if (response.ok) {
            alert('Product deleted successfully');
            location.reload(); // Refresh the page to reflect the changes
          } else {
            alert('Failed to delete product');
          }
        } catch (error) {
          console.error('Error deleting product:', error);
          alert('Error deleting product');
        }
      }
    </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <% products.forEach(product => { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="card-img-top" alt="Nature Image">
            <div class="card-body">
              <h5 class="card-title">Name: <%= product.prodname %></h5>
              <h6 class="card-subtitle mb-2 text-muted">COST: <%= product.cost %></h6>
              <p class="card-text"><%= product.description %></p>
              <a href="#" class="btn btn-warning d-flex-col align-items-center">
                <i class="bi bi-pencil-square mr-1"></i> Edit
              </a>
              <a href="#" class="btn btn-danger d-flex-col align-items-center" onclick="deleteProduct('<%=product._id %>')">
                <i class="bi bi-trash mr-1"></i> Delete
              </a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html> 
